{% extends 'users/base.html' %}
{% block body %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if object_list %}
        {% for student in object_list %}
            <ul>
                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title">{{ student.name }} ID: {{ student.id }}</h5>
                        <a href="{% url "student-detail" student.id %}" class="btn btn-primary">About</a>
                    </div>
                </div>
            </ul>
        {% endfor %}
        <ul>
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class ="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class ="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class ="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                    <a class ="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a class ="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class ="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        {% endif %}
        </ul>
    {% else %}
        <h1>No Posts</h1>
    {% endif %}
{% endblock %}
