{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
{% if validlink %}

<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Password Reset</h4>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form method = "post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Reset Passoword  </button>
                </div> <!-- form-group// -->
            </form>
            </article>

</div> <!-- card.// -->
        {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
{% endblock %}