{% extends 'users/base.html' %}

{% block body %}
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Password Reset</h4>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form method = "post">
                {% csrf_token %}
                {% include 'users/form_template.html' %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Request Password Reset</button>
                </div> <!-- form-group// -->
            </form>
            </article>
{% endblock %}
