{% extends 'users/base.html' %}

{% block body %}
	<h1 class="card-title mt-3 text-center">Profile</h1>
        <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                    <p><strong>Username: </strong> {{ user.username }} </p>
                    <p><strong>Email: </strong> {{ user.email }} </p>
                    <p><a href="{% url 'profile-edit' %}">Edit Profile</a></p>
                </div>
            </div>
        </div>
{% endblock %}
