{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load ratings %}
{% load static %}
{{% block body %}
{% load humanize %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <link href='http://tristen.ca/tablesort/tablesort.css' rel='stylesheet'>
    <script src='http://tristen.ca/tablesort/src/tablesort.js'></script>
    <script src='http://tristen.ca/tablesort/src/sorts/tablesort.date.js'></script>
    <script src='http://tristen.ca/tablesort/src/sorts/tablesort.dotsep.js'></script>
    <script src='http://tristen.ca/tablesort/src/sorts/tablesort.filesize.js'></script>
    <script src='http://tristen.ca/tablesort/src/sorts/tablesort.number.js'></script>


    <div class="row">
        <div class="col text-center">

            <br/>

            <h1 class="text-center">World</h1><br/>

            <h2 class="text-center">Coronavirus Cases:</h2>

            <h2 class="text-center text-secondary">{{ data.confirmed }}</h2><br/>

            <h2 class="text-center">Deaths:</h2>

            <h2 class="text-center text-danger">{{ data.deaths }}</h2><br/>

            <h2 class="text-center">Recovered:</h2>

            <h2 class="text-center text-success">{{ data.recovered }}</h2><br/>
        </div>
        <div class="col text-center">

            <br/>

            <h1 class="text-center">{{ data2.country }}</h1><br/>

            <h2 class="text-center">Coronavirus Cases:</h2>

            <h2 class="text-center text-secondary">{{ data2.cases }}</h2><br/>

            <h2 class="text-center">Deaths:</h2>

            <h2 class="text-center text-danger">{{ data2.deaths }}</h2><br/>

            <h2 class="text-center">Recovered:</h2>

            <h2 class="text-center text-success">{{ data2.recovered }}</h2><br/>
        </div>
    </div>

    <div style="text-align: center;">
        <a href="{% url "compare" %}" class="btn btn-primary">Compare</a>
    </div><br/>

    <div>
        <a href="{% url "covid_19" %}" class="btn btn-primary">Today</a>
    </div>

    <table id = "sort" class="table table-bordered table-responsive-md table-hover" >
        <thead class="thead-light">
        <tr>
            <th >Country</th>
            <th >TotalCases</th>
            <th >NewCases</th>
            <th >TotalDeaths</th>
            <th >NewDeaths</th>
            <th >TotalRecovered</th>
            <th >ActiveCases</th>
            <th >Critical</th>
        </tr>
        </thead>
        <tbody>
        {% for movies in yesterday_object_list %}
            <tr>
                <td><a href="{% url "country_detail" movies.country %}">{{ movies.country }}</a></td>
                <td>{{ movies.cases }}</td>
                <td>{{ movies.todayCases }}</td>
                <td>{{ movies.deaths }}</td>
                <td class="text-danger">{{ movies.todayDeaths }}</td>
                <td>{{ movies.recovered }}</td>
                <td>{{ movies.active }}</td>
                <td>{{ movies.critical }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
      new Tablesort(document.getElementById('sort'));
    </script>


    <hr>
    <!-- Footer -->
<footer class="page-footer font-small bg-light pt-4">

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2019 API used:
            <a href="https://github.com/mathdroid/covid-19-api/">
                <strong> mathdroid</strong>
            </a>
            and
            <a href="https://github.com/NovelCOVID/API/">
                <strong> NovelCOVID</strong>
            </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href = "https://facebook.com/kushal.dhakal.79" class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.twitter.com/dhakalkushal371" class="btn-floating btn-sm rgba-white-slight mx-1" >
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-google-plus-g"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Grid column -->

    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->

{% endblock %}

